* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
    position: relative;
    background: #68d3eb url('./assets/wave.png') repeat-x;
    background-size: auto 100%; 
    background-position: 0 0;
    margin: 0;
    height: 100vh;
    animation: moveWaves 10s linear infinite;
  }
  
  @keyframes moveWaves {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1000px 0; 
    }
  }
  #gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #1E90FF; 
  }
  #gameTitle {
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
    margin-bottom: 30px;
    font-family: 'Arial Black', sans-serif;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .hideTitle {
    transform: translateX(500px); 
    opacity: 0;
  }
  
  #ui {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 20px;
    color: white;
    font-size: 20px;
    z-index: 10;
  }
  #score-value {
    color: #fff
  }
  
  #lives .life {
    width: 30px;
    height: 30px;
    filter: brightness(1.2) saturate(2) hue-rotate(-10deg);
  }
  
  #startScreen, #gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  
  #startScreen img, #gameOverScreen img {
    max-width: 50%;
    margin-bottom: 20px;
  }
  
  #startButton, #restartButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    transition: background 0.2s;
  }
  
  #startButton:hover, #restartButton:hover {
    background-color: #ddd;
  }
